<?xml version="1.0" ?>
<launch>  
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find rrbot_description)/urdf/rrbot.xacro'" />
  <node name="hw_test" pkg="my_robot_hw" type="my_robot_hw_test" />
  <rosparam file="$(find my_robot_hw)/config/my_robot_controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="joint_state_controller
                              joint1_position_controller
                              joint2_position_controller"/>

</launch>
